
<%= render 'index' %>

<div style="width:300px;margin: 0 auto;"><h3><%= will_paginate @gists  %></h3> </div>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Snippet Preview</th>
      <th>Lang</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

 
    <% @gists.each do |gist| %>
      <tr>
        <td><%= raw Pygments.highlight(gist.snippet.squish[0,30]+" ... ", lexer: gist.lang)%></td>
        <td><h4><%= gist.lang %></h4></td>
        <td><%= gist.description %></td>
        <td><%=link_to 'Show Whole', gist,class:'btn btn-success' %>
        <%= link_to 'Edit', edit_gist_path(gist),class:'btn btn-primary' %>
        <%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  
</table>


</div>
<br>



</div>
